<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>@ViewData["Title"] - Task Record</title>
    <!-- CSS files -->
     <!-- CSS files -->
    @* Uncomment to use the HtmlEditor control *@
    @* <script src="https://unpkg.com/devextreme-quill@21_2/dist/dx-quill.min.js"></script> *@
    <link rel="stylesheet" href="~/css/vendor.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Site.css" asp-append-version="true"  />
    <script src="~/js/vendor.js" asp-append-version="true"></script>

    <link rel="stylesheet" href="~/dist/css/tabler.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/dist/css/tabler-flags.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/dist/css/tabler-payments.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/dist/css/tabler-vendors.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/dist/css/demo.min.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" href="~/dist/css/StyleSheet.css" asp-append-version="true"/>
   </head>
  <body  class=" border-top-wide border-primary d-flex flex-column">

      @RenderBody()

    <!-- Libs JS -->
    <!-- Tabler Core -->
    <script src="~/dist/js/tabler.min.js" defer></script>
    <script src="~/dist/js/demo.min.js" defer></script>
    @await RenderSectionAsync("Scripts", required: false)


  </body>
</html>