@model Usuario

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
    <div class="page page-center">
      <div class="container-tight py-4">
        <div class="text-center mb-4">
            <a href="." class="navbar-brand navbar-brand-autodark">
            </a>
        </div>
        <div class="card card-md">
            <a href="." class="navbar-brand navbar-brand-autodark">
                <img class="logo" src="~/img/Logo.png" alt="Pautas">
            </a>
          <div class="card-body">
            <div class="mb-2">
                 @using(Html.BeginForm()) {
                    using(Html.DevExtreme().ValidationGroup()) {
                        @Html.AntiForgeryToken()
                        @(Html.DevExtreme().Form<TSK.Models.Usuario>()
                            .LabelLocation(FormLabelLocation.Top)
                            .ShowValidationSummary(true)
                            .Items(items => {
                                items.AddGroup()
                                    
                                    .Items(groupItems => {
                                        groupItems.AddSimpleFor(m => m.UserName)
                                            .Label(l => l.Visible(false))
                                            .Editor(e => e.TextBox()
                                            .Placeholder("Usuario")
                                    );

                                        groupItems.AddSimpleFor(m => m.Clave)
                                            .Label(l => l.Visible(false))
                                            .Editor(e => e.TextBox()
                                            .Placeholder("Contraseña")
                                            .Mode(TextBoxMode.Password)
                                                
                                            );
                                    }); 
                                items.AddButton()
                                    .HorizontalAlignment(HorizontalAlignment.Center)
                                    .ButtonOptions(b => b.Text("Acceder")
                                        .Type(ButtonType.Default)
                                        .UseSubmitBehavior(true)
                                    .ElementAttr(new { style = "background-color:#337199; color: white;" })
                                );

                            })
                            .FormData(Model)
                        )
                    }
                }
            </div>
            <div class="dx-form-validation-summary dx-validationsummary dx-widget dx-collection">
                <div class="dx-item dx-validationsummary-item">
                    <div class="dx-item-content dx-validationsummary-item-content">@ViewBag.msg</div>
                 </div>
            </div>
   
          </div>
        </div>
      </div>
    </div>


