@model Usuario

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
    <div class="page page-center">
      <div class="container-tight py-4">
        <div class="text-center mb-4">
           
        </div>
        <div class="card card-md">
            <a href="." class="navbar-brand navbar-brand-autodark">
                <img class="logo" src="~/img/GOINTEGREAT_V1.png" alt="Gointegreat">
            </a>
          <div class="card-body">
                <h1 class="title">
                    Iniciar Sesion
                </h1>
            <div class="mb-2">
                 @using(Html.BeginForm()) {
                    using(Html.DevExtreme().ValidationGroup()) {
                        @Html.AntiForgeryToken()
                        @(Html.DevExtreme().Form<TSK.Models.Usuario>()
                            .LabelLocation(FormLabelLocation.Top)
                            .ShowValidationSummary(true)
                            .Items(items => {
                                items.AddGroup()
                                    
                                    .Items(groupItems => {
                                        groupItems.AddSimpleFor(m => m.UserName)
                                            .Label(l => l.Text("Usuario"))
                                            
                                            ;
                                            
                                        groupItems.AddSimpleFor(m => m.Clave)
                                            .Label(l => l.Text("Clave"))
                                            .Editor(e => 
                                                e.TextBox()
                                                .Mode(TextBoxMode.Password)
                                                
                                            );
                                    }); 
                                items.AddButton()
                                    .HorizontalAlignment(HorizontalAlignment.Center)
                                    .CssClass("button_login")
                                    .ButtonOptions(b => b.Text("Acceder")
                                        
                                        .Type(ButtonType.Default)
                                        .UseSubmitBehavior(true)
                                        
                                );

                            })
                            .FormData(Model)
                        )
                    }
                }
            </div>
            <div class="dx-form-validation-summary dx-validationsummary dx-widget dx-collection">
                <div class="dx-item dx-validationsummary-item">
                    <div class="dx-item-content dx-validationsummary-item-content">@ViewBag.msg</div>
                 </div>
            </div>
                <a href="." class="navbar-brand navbar-brand-autodark">
                    <img class="logo_veladero" src="~/img/Logo Veladero.png" alt="Veladero">
                </a>
          </div>
        </div>
      </div>
    </div>

