@model Query2

@{
    ViewData["Title"] = "ActividadAdd";
    Layout = "~/Views/Shared/_LayoutApp.cshtml";
}

@section PagePreTitle{

        <div class="col">
         <!-- Page pre-title -->
            <div class="page-pretitle">
                Mantenimiento
            </div>
            <h2 class="page-title">
                Actividad >> Sistema >> Pauta
            </h2>
        </div>

}