@using TSK.Models;
@using System.Linq;

@{
    ViewData["Title"] = "PMSistemaActividad";
    Layout = "~/Views/Shared/_LayoutApp.cshtml";
}

<style>
    .user-icon-container {
        display: flex;
        align-items: center;
    }

        .user-icon-container .icon-tabler {
            margin-right: 10px;
            width: 50px;
            height: 50px;
        }

        .user-icon-container .page-title {
            margin-left: -4px;
  
        }

    .page-title {
        color: #a79a66;
        margin-left: 10px;
        margin-top: 15px;
    }

    .black {
        background-color: white;
    }

    .pauta {
        margin-left: 10px;
        color: #a79a66;
    }

    .text {
        margin-left: 10px;
    }

</style>

@section PagePreTitle{

    <div class="col">
        <!-- Page pre-title -->
        <div class="user-icon-container">
         <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chart-infographic" width="36" height="36" viewBox="0 0 24 24" stroke-width="1.5" stroke="#a79a66" fill="none" stroke-linecap="round" stroke-linejoin="round">
  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
  <circle cx="7" cy="7" r="4" />
  <path d="M7 3v4h4" />
  <line x1="9" y1="17" x2="9" y2="21" />
  <line x1="17" y1="14" x2="17" y2="21" />
  <line x1="13" y1="13" x2="13" y2="21" />
  <line x1="21" y1="12" x2="21" y2="21" />
</svg>
            <h2 class="page-title">
                Asignación de Actividades
            </h2>
        </div>
    </div>

}

@section PageActions{


}

<div class="row row-cards">
    <div class="col-md-12">
            <div class="form-group mb-3">
                <div class='form-control'>
                    <div class="col-md-12">

                        @(Html.DevExtreme().TabPanel()

                            .Items(items =>
                            {

                                items.Add()
                                .Title("Vista General")
                                .Template(new TemplateName("TAB1"));
                                items.Add()
                                .Title("Asignar Actividades")
                                .Template(new TemplateName("TAB2"));

                            })
                            .SelectedIndex(0)
                            .Loop(false)
                            .AnimationEnabled(true)
                            .SwipeEnabled(true)
                            .OnItemClick("refreshed")
                            )
                    </div>
                </div>
            </div>
    </div>
</div>



@using (Html.DevExtreme().NamedTemplate("TAB1"))
{

  
    @(Html.DevExtreme().DataGrid<TSK.Models.Entity.PmsisActividad>()
            .ID("tab1")
            .DataSource(ds => ds.Mvc()
                .Controller("PmsisActividad")
                .LoadAction("Get")
                .InsertAction("Post")
                .UpdateAction("Put")
                .DeleteAction("Delete")
                .Key("IdAct", "IdPms")
            )
            .Columns(columns =>
            {

                columns.AddFor(m => m.IdPms).Lookup(lookup => lookup
                    .DataSource(ds => ds.WebApi().Controller("PmsisActividad").LoadAction("PmSistemasLookup").Key("Value"))
                    .ValueExpr("Value")
                    .DisplayExpr("Text")
                ).GroupIndex(0).Caption("Plantilla - Sistema").Width(100);

                columns.AddFor(m => m.Orden).Width(100);
                columns.AddFor(m => m.IdAct).Lookup(lookup => lookup
                    .DataSource(ds => ds.WebApi().Controller("PmsisActividad").LoadAction("ActividadsLookup").Key("Value"))
                    .ValueExpr("Value")
                    .DisplayExpr("Text")
                ).Caption("Actividad").AllowEditing(false);
            })
            .AllowColumnReordering(true)
            .Grouping(grouping => grouping.AutoExpandAll(true))
            .GroupPanel(groupPanel => groupPanel
                .EmptyPanelText("Arrastre un encabezado de columna aquí para agrupar por esa columna")
                .Visible(true))
            .ShowBorders(true)
            .RowAlternationEnabled(false)
            .ShowColumnLines(true)
            .Grouping(g => g.AutoExpandAll(false))
            .ShowRowLines(true)
            .Paging(paging => paging.PageSize(50))
            .FilterRow(f => f.Visible(true))
            .HeaderFilter(f => f.Visible(true))
            .SearchPanel(searchPanel => searchPanel.Visible(true))
            .Pager(pager =>
            {
                pager.ShowPageSizeSelector(true);
                pager.AllowedPageSizes(new[] { 50, 100, 200 });
                pager.ShowInfo(true);
            })
           .Editing(editing =>
                            {
                                editing.AllowUpdating(true);
                            })

        )

}

@using (Html.DevExtreme().NamedTemplate("TAB2"))
{
    <div class="black">
        <br />
        <div>
            <h4 class="pauta">
                Selecciona tu Pauta de Mantenimiento - Sistema:
            </h4>
        </div>
        <div class="text">
            @(Html.DevExtreme().Form<TSK.Models.Entity.PmsisActividad>()
                .ID("form")
                .Items(items =>
                {
                    items.AddSimpleFor(m => m.IdPms)
                    .Editor(e => e
                    .Lookup()
                    .DataSource(ds => ds.Mvc().Controller("PmsisActividad").LoadAction("PmSistemasLookup").Key("IdPms"))
                    .ValueExpr("Value")
                    .DisplayExpr("Text")
                    .OnValueChanged("refreshData")
                    .SearchEnabled(true)

                    ).Label(label => label
                    .Text("Pauta de Mantenimiento - Sistema")
                    .Visible(false)
                    );
                })
                )

            @(
                Html.DevExtreme().DataGrid<TSK.Models.Entity.PmsisActividad>()
                .ID("grid")
                .DataSource(ds => ds.Mvc().Controller("PmsisActividad").LoadAction("PmsisActividadesLookup").InsertAction("Post").OnInserting("change")
                .UpdateAction("Put").DeleteAction("Delete").Key("IdPms", "IdAct")
                .LoadParams(new { IdPms = new JS("getIdPms") }))
                .RemoteOperations(true)
                .Columns(columns =>
                {
                    columns.AddFor(m => m.IdPms).Caption("PM - Sistema").Width(200).AllowEditing(false);

                    columns.AddFor(m => m.IdAct).Lookup(lookup => lookup
                    .DataSource(ds => ds.WebApi().Controller("PmsisActividad").LoadAction("ActividadsLookup").Key("Value"))
                    .ValueExpr("Value")
                    .DisplayExpr("Text")
                    ).Caption("Actividad");
                    columns.AddFor(m => m.Orden).Caption("Orden");
                })

                .Grouping(grouping => grouping.AutoExpandAll(true))
                .GroupPanel(groupPanel => groupPanel
                .EmptyPanelText("")
                .Visible(true))
                .ShowBorders(true)
                .RowAlternationEnabled(false)
                .ShowColumnLines(true)
                .ShowRowLines(true)

                .Paging(paging => paging.PageSize(50))
                .FilterRow(f => f.Visible(true))
                .HeaderFilter(f => f.Visible(true))
                .SearchPanel(searchPanel => searchPanel.Visible(true))
                .Pager(pager =>
                {
                    pager.ShowPageSizeSelector(true);
                    pager.AllowedPageSizes(new[] { 50, 100, 200 });
                    pager.ShowInfo(true);
                })
                .Editing(editing =>
                {
                    editing.Mode(GridEditMode.Batch);
                    editing.AllowAdding(true);
                    editing.AllowUpdating(true);
                    editing.AllowDeleting(true);
                    editing.SelectTextOnEditStart(true);
                    editing.StartEditAction(GridStartEditAction.Click);
                })



                )
        </div>

    </div>

}

<script>

    function refreshData() {
        var grid = $("#grid").dxDataGrid("instance");
        grid.refresh();
    }

    function getFormInstance() {
        return $("#form").dxForm("instance");
    }

    function getIdPms() {
        var form = $("#form").dxForm("instance");
        var IdPms = form.getEditor("IdPms").option("value");
        return IdPms;

    }
    function selectBox_valueChanged(data) {
        getFormInstance().option("formData", data.value);
    }
       function onOptionsValueChanged(data) {
        let dataGrid = $("#gridContainer").dxDataGrid("instance");
        dataGrid.option("editing.selectTextOnEditStart", data.value);
    }

    function onStartEditActionValueChanged(data) {
        let dataGrid = $("#gridContainer").dxDataGrid("instance");
        dataGrid.option("editing.startEditAction", data.value);
    }

     function change(e) {
        e["IdPms"] = getIdPms();
    }

    function refreshed() {
        var grid = $("#tab1").dxDataGrid("instance");
        grid.refresh();
    }
 

</script>


