
@{
    ViewData["Title"] = "Area";
    Layout = "~/Views/Shared/_LayoutApp.cshtml";
}

<style>
    .user-icon-container {
        display: flex;
        align-items: center;
    }

        .user-icon-container .icon-tabler {
            margin-right: 10px;
            width: 50px;
            height: 50px;
        }

        .user-icon-container .page-title {
            margin-left: -4px;
        }

    .page-title {
        color: #a79a66;
    }

</style>

@section PagePreTitle{

    <div class="col">
        <!-- Page pre-title -->
        <div class="user-icon-container">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-building-community" width="36" height="36" viewBox="0 0 24 24" stroke-width="1" stroke="#a79a66" fill="none" stroke-linecap="round" stroke-linejoin="round">
  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
  <path d="M8 9l5 5v7h-5v-4m0 4h-5v-7l5 -5m1 1v-6a1 1 0 0 1 1 -1h10a1 1 0 0 1 1 1v17h-8" />
  <line x1="13" y1="7" x2="13" y2="7.01" />
  <line x1="17" y1="7" x2="17" y2="7.01" />
  <line x1="17" y1="11" x2="17" y2="11.01" />
  <line x1="17" y1="15" x2="17" y2="15.01" />
</svg>
            <h2 class="page-title">
                Área
            </h2>
        </div>
    </div>


}

@section PageActions{


}




    @(
        Html.DevExtreme().DataGrid<TSK.Models.Entity.Area>()
            .ID("grid2")
            .DataSource(ds => ds.Mvc()
                .Controller("AreasNew")
                .LoadAction("Get")
                .InsertAction("Post")
                .UpdateAction("Put")
                .Key("IdArea")
            )
              .Columns(columns =>
              {
                  columns.AddFor(m => m.Nombre).Caption("Área");
              })
            .ShowBorders(true)
            .RowAlternationEnabled(false)
            .ShowColumnLines(true)
            .ShowRowLines(true)
            .Paging(paging => paging.PageSize(20))
            .FilterRow(f => f.Visible(true))
            .HeaderFilter(f => f.Visible(true))
            .Pager(pager =>
            {
                pager.ShowPageSizeSelector(true);
                pager.AllowedPageSizes(new[] { 20, 50, 100 });
                pager.ShowInfo(true);
            })
            .RemoteOperations(true)
              .Editing(e => e.Mode(GridEditMode.Popup)
                .AllowUpdating(true)
                .AllowAdding(true)
                .UseIcons(true)
                .Popup(p => p
                    .Title("Area")
                    .ShowTitle(true)
                    .Width("40%")
                    .Height(220)
                    
                )
                
                .Form(f => f.Items(items =>
                {
                    items.AddGroup()
                        .ColCount(2)
                        .ColSpan(2)
                        .Items(groupItems =>
                        {
                            groupItems.AddSimpleFor(m => m.Nombre).ColSpan(2);
                        });
                }))
                
        )


        )

