
@{
    ViewData["Title"] = "Consecuencia";
    Layout = "~/Views/Shared/_LayoutApp.cshtml";
}

<style>
    .user-icon-container {
        display: flex;
        align-items: center;
    }

        .user-icon-container .icon-tabler {
            margin-right: 10px;
            width: 50px;
            height: 50px;
        }

        .user-icon-container .page-title {
            margin-left: -4px;
        }

    .page-title {
        color: #a79a66;
    }

</style>

@section PagePreTitle{

    <div class="col">
        <!-- Page pre-title -->
        <div class="user-icon-container">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-flame" width="36" height="36" viewBox="0 0 24 24" stroke-width="1" stroke="#a79a66" fill="none" stroke-linecap="round" stroke-linejoin="round">
  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
  <path d="M12 12c2 -2.96 0 -7 -1 -8c0 3.038 -1.773 4.741 -3 6c-1.226 1.26 -2 3.24 -2 5a6 6 0 1 0 12 0c0 -1.532 -1.056 -3.94 -2 -5c-1.786 3 -2.791 3 -4 2z" />
</svg>
            <h2 class="page-title">
                Consecuencia
            </h2>
        </div>
    </div>


}

@section PageActions{


}

<div style="text-align: right;">
    @(Html.DevExtreme().CheckBox()
        .Text("Mostrar todas las Consecuencias")
        .ElementAttr(new { style = "margin-right: 15px; font-size: 15px; margin-bottom: 10px; margin-top:10px; font-weight:bold;" })
        .OnValueChanged("toggleFilter")
        )
</div>

    @(Html.DevExtreme().DataGrid<TSK.Models.Entity.Consecuencium>()
        .ID("grid1")
        .DataSource(ds => ds.Mvc()
            .Controller("Consecuencia")
            .LoadAction("Get")
            .InsertAction("Post")
            .UpdateAction("Put")
            .Key("IdCon")
        )
        .OnContentReady("applyDefaultFilter")
        .Columns(columns =>
        {
            columns.AddFor(m => m.IdCon).Caption("ID").Width(70);
            columns.AddFor(m => m.Nombre).Caption("Tipos de Consecuencia");
            columns.AddFor(m => m.Habilitado).Width(120);
        })
        .ShowBorders(true)
        .RowAlternationEnabled(false)
        .ShowColumnLines(true)
        .ShowRowLines(true)
        .Paging(paging => paging.PageSize(20))
        .FilterRow(f => f.Visible(true))
        .HeaderFilter(f => f.Visible(true))
        .SearchPanel(searchPanel => searchPanel.Visible(true))
        .Pager(pager =>
        {
            pager.ShowPageSizeSelector(true);
            pager.AllowedPageSizes(new[] { 20, 50, 100 });
            pager.ShowInfo(true);
        })
        .RemoteOperations(true)
        .Editing(e => e.Mode(GridEditMode.Popup)
                .AllowUpdating(true)
                .AllowAdding(true)
                .UseIcons(true)
                .Popup(p => p
                    .Title("Consecuencia")
                    .ShowTitle(true)
                    .Width("70%")
                    .Height(230)
                )
                .Form(f => f.Items(items =>
                {
                    items.AddGroup()
                        .ColCount(2)
                        .ColSpan(2)
                        .Items(groupItems =>
                        {
                            groupItems.AddSimpleFor(m => m.IdCon);
                            groupItems.AddSimpleFor(m => m.Nombre);
                            groupItems.AddSimpleFor(m => m.Habilitado).Label(label => label.Location(FormLabelLocation.Left));
                        });
                }))
            )
    )




<script>
    var defaultFilterApplied = false;

    function applyDefaultFilter() {
        if (!defaultFilterApplied) {
            var grid = $("#grid1").dxDataGrid("instance");
            grid.filter([
                ["Habilitado", "=", true]
            ]);
            defaultFilterApplied = true;
        }
    }

    function toggleFilter(e) {
        var grid = $("#grid1").dxDataGrid("instance");

        if (e.value) {
            grid.clearFilter();
        } else {
            grid.filter([
                ["Habilitado", "=", true]
            ]);
        }
    }

</script>