
@{
    ViewData["Title"] = "Empresa";
    Layout = "~/Views/Shared/_LayoutApp.cshtml";
}

@section PagePreTitle{

    <div class="col">
     <!-- Page pre-title -->
        <div class="page-pretitle">
            Mantenimiento
        </div>
        <h2 class="page-title">
            Empresa
        </h2>
    </div>

}

@section PageActions{


}

@(Html.DevExtreme().DataGrid<TSK.Models.Entity.Empresa>()
    .DataSource(ds => ds.Mvc()
        .Controller("Empresas")
        .LoadAction("Get")
        .InsertAction("Post")
        .UpdateAction("Put")
        .Key("IdEmp")
    )
    .Columns(columns => {
        columns.AddFor(m => m.IdEmp).Caption("ID").Width(100);
        columns.AddFor(m => m.Nombre);
        columns.AddFor(m => m.Habilitado);
    })
    .ShowBorders(true)
    .RowAlternationEnabled(false)
    .ShowColumnLines(true)
    .ShowRowLines(true)
    .Paging(paging => paging.PageSize(20))
    .FilterRow(f => f.Visible(true))
    .HeaderFilter(f => f.Visible(true))
    .SearchPanel(searchPanel => searchPanel.Visible(true))
    .Pager(pager =>{
        pager.ShowPageSizeSelector(true);
        pager.AllowedPageSizes(new[] {20, 50, 100});
        pager.ShowInfo(true);
    })
    .RemoteOperations(true)
    .Editing(e => e.Mode(GridEditMode.Popup)
            .AllowUpdating(true)
            .AllowAdding(true)
            .UseIcons(true)
            .Popup(p => p
                .Title("Empresa")
                .ShowTitle(true)
                .Width("50%")
                .Height(200)
            )
            .Form(f => f.Items(items => {
                items.AddGroup()
                    .ColCount(2)
                    .ColSpan(2)
                    .Items(groupItems => {
                        groupItems.AddSimpleFor(m => m.Nombre).ColSpan(2);
                        groupItems.AddSimpleFor(m => m.Habilitado);
                    });
            }))
        )
)
