
@{
    ViewData["Title"] = "Nivel";
    Layout = "~/Views/Shared/_LayoutApp.cshtml";
}


<style>
    .user-icon-container {
        display: flex;
        align-items: center;
    }

        .user-icon-container .icon-tabler {
            margin-right: 10px;
            width: 50px;
            height: 50px;
        }

        .user-icon-container .page-title {
            margin-left: -4px;
        }

    .page-title {
        color: #a79a66;
    }

</style>

@section PagePreTitle{

    <div class="col">
        <!-- Page pre-title -->
        <div class="user-icon-container">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-layers-subtract" width="36" height="36" viewBox="0 0 24 24" stroke-width="1" stroke="#a79a66" fill="none" stroke-linecap="round" stroke-linejoin="round">
  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
  <rect x="8" y="4" width="12" height="12" rx="2" />
  <path d="M16 16v2a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2v-8a2 2 0 0 1 2 -2h2" />
</svg>
            <h2 class="page-title">
                Niveles
            </h2>
        </div>
    </div>


}

@section PageActions{


}

<div style="text-align: right;">
    @(Html.DevExtreme().CheckBox()
        .Text("Mostrar todos los Niveles")
        .ElementAttr(new { style = "margin-right: 15px; font-size: 15px; margin-bottom: 10px; margin-top:10px; font-weight:bold;" })
        .OnValueChanged("toggleFilter")
        )
</div>
    @(Html.DevExtreme().DataGrid<TSK.Models.Entity.Nivel>()
        .ID("grid1")
        .DataSource(ds => ds.Mvc()
            .Controller("Nivel")
            .LoadAction("Get")
            .InsertAction("Post")
            .UpdateAction("Put")
            .Key("IdNiv")
        )
        .OnContentReady("applyDefaultFilter")
        .ShowBorders(true)
        .RowAlternationEnabled(false)
        .ShowColumnLines(true)
        .ShowRowLines(true)
        .Paging(paging => paging.PageSize(50))
        .FilterRow(f => f.Visible(true))
        .HeaderFilter(f => f.Visible(true))
        .Pager(pager =>
        {
            pager.ShowPageSizeSelector(true);
            pager.AllowedPageSizes(new[] { 50, 100, 150 });
            pager.ShowInfo(true);
        })
        .RemoteOperations(true)
        .Columns(columns =>
        {
            columns.AddFor(m => m.IdNiv).Caption("ID").Width(70);
            columns.AddFor(m => m.Nombre).Caption("Nivel");
            columns.AddFor(m => m.Habilitado).Width(120);
        })
         .Editing(e => e.Mode(GridEditMode.Popup)
                .AllowUpdating(true)
                .AllowAdding(true)
                .UseIcons(true)
                .Popup(p => p
                    .Title("Nivel")
                    .ShowTitle(true)
                    .Width("60%")
                    .Height(230)
                )

                .Form(f => f.Items(items =>
                {
                    items.AddGroup()
                        .ColCount(2)
                        .ColSpan(2)
                        .Items(groupItems =>
                        {
                            groupItems.AddSimpleFor(m => m.IdNiv);
                            groupItems.AddSimpleFor(m => m.Nombre);
                            groupItems.AddSimpleFor(m => m.Habilitado).Label(label => label.Location(FormLabelLocation.Left));
                        });
                }))

            )
    )




<script>
     var defaultFilterApplied = false;

    function applyDefaultFilter() {
        if (!defaultFilterApplied) {
            var grid = $("#grid1").dxDataGrid("instance");
            grid.filter([
                ["Habilitado", "=", true]
            ]);
            defaultFilterApplied = true;
        }
    }

    function toggleFilter(e) {
        var grid = $("#grid1").dxDataGrid("instance");

        if (e.value) {
            grid.clearFilter();
        } else {
            grid.filter([
                ["Habilitado", "=", true]
            ]);
        }
    }

</script>