
@{
    ViewData["Title"] = "TipoEquipo";
    Layout = "~/Views/Shared/_LayoutApp.cshtml";
}

<style>
    .user-icon-container {
        display: flex;
        align-items: center;
    }

    .user-icon-container .icon-tabler {
            margin-right: 10px;
            width: 50px;
            height: 50px;
     }

     .user-icon-container .page-title {
            margin-left: -4px;
     }

</style>

@section PagePreTitle{

    <div class="col">
        <!-- Page pre-title -->
        <div class="user-icon-container">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-truck-return" width="36" height="36" viewBox="0 0 24 24" stroke-width="1" stroke="#a79a66" fill="none" stroke-linecap="round" stroke-linejoin="round">
  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
  <circle cx="7" cy="17" r="2" />
  <circle cx="17" cy="17" r="2" />
  <path d="M5 17h-2v-11a1 1 0 0 1 1 -1h9v6h-5l2 2m0 -4l-2 2" />
  <line x1="9" y1="17" x2="15" y2="17" />
  <path d="M13 6h5l3 5v6h-2" />
</svg>
            <h2 class="page-title">
                Tipo de Equipo
            </h2>
        </div>
    </div>


}

@section PageActions{


}


    @(Html.DevExtreme().DataGrid<TSK.Models.Entity.TipoEquipo>()
        .ID("grid1")
        .DataSource(ds => ds.Mvc()
            .Controller("TipoEquipos")
            .LoadAction("Get")
            .InsertAction("Post")
            .UpdateAction("Put")
            .Key("IdTeq")
        )
        .RemoteOperations(true)
        .Columns(columns =>
        {

            columns.AddFor(m => m.IdArea).Lookup(lookup => lookup
                .DataSource(ds => ds.WebApi().Controller("TipoEquipos").LoadAction("AreasLookup").Key("Value"))
                .ValueExpr("Value")
                .DisplayExpr("Text")
            ).Caption("Tipo de Area").Width(150).GroupIndex(0);

            columns.AddFor(m => m.TEquipo).Caption("Tipo de Equipo");


        })
       .RemoteOperations(false)
        .AllowColumnReordering(true)
        .ShowBorders(true)
        .Paging(p => p.PageSize(10))
        .Pager(p => p
            .ShowPageSizeSelector(true)
            .AllowedPageSizes(new[] { 10, 25, 50, 100 })
        )
        .SearchPanel(s => s
            .Visible(true)
            .HighlightCaseSensitive(true)
        )
        .GroupPanel(g => g.Visible(true))
        .Grouping(g => g.AutoExpandAll(false))
        .Editing(e => e.Mode(GridEditMode.Popup)
            .AllowUpdating(true)
            .AllowAdding(true)
            .UseIcons(true)
            .Popup(p => p
            .Title("Tipo de Equipo")
            .ShowTitle(true)
            .Width("40%")
            .Height(230)
            )
            .Form(f => f.Items(items =>
                {
                    items.AddGroup()
                        .ColCount(2)
                        .ColSpan(2)
                        .Items(groupItems =>
                        {
                            groupItems.AddSimpleFor(m => m.IdArea);
                            groupItems.AddSimpleFor(m => m.TEquipo);
                        });
                }))
           )
    )



