
@{
    ViewData["Title"] = "Unidad";
    Layout = "~/Views/Shared/_LayoutApp.cshtml";
}

<style>
    .user-icon-container {
        display: flex;
        align-items: center;
    }

        .user-icon-container .icon-tabler {
            margin-right: 10px;
            width: 50px;
            height: 50px;
        }

        .user-icon-container .page-title {
            margin-left: -4px;
        }

</style>

@section PagePreTitle{

    <div class="col">
        <!-- Page pre-title -->
        <div class="user-icon-container">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file-invoice" width="36" height="36" viewBox="0 0 24 24" stroke-width="1" stroke="#a79a66" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M14 3v4a1 1 0 0 0 1 1h4" />
                <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" />
                <line x1="9" y1="7" x2="10" y2="7" />
                <line x1="9" y1="13" x2="15" y2="13" />
                <line x1="13" y1="17" x2="15" y2="17" />
            </svg>
            <h2 class="page-title">
                Unidad
            </h2>
        </div>
    </div>


}

@section PageActions{


}

<div class="row row-cards">
    <div class="col-md-12">
        <div class="card">
            <div class="form-group mb-3">
                <div class='form-control'>
                    <div class="col-md-12">

                        @(Html.DevExtreme().TabPanel()

                            .Items(items =>
                            {

                                items.Add()
                                .Title("LISTA DE UNIDADES HABILITADAS")
                                .Template(new TemplateName("TAB1"));

                                items.Add()
                                .Title("LISTA DE UNIDADES DESHABILITADAS")
                                .Template(new TemplateName("TAB2"));

                            })
                            .SelectedIndex(0)
                            .Loop(false)
                            .AnimationEnabled(true)
                            .SwipeEnabled(true)
                            .OnItemClick("refreshGrid")
                            )
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

@using (Html.DevExtreme().NamedTemplate("TAB1"))
{
    @(Html.DevExtreme().DataGrid<TSK.Models.Entity.Unidad>()
        .ID("grid1")
        .DataSource(ds => ds.Mvc()
            .Controller("Unidad")
            .LoadAction("Get").OnLoaded("filterTrue")
            .InsertAction("Post")
            .UpdateAction("Put")
            .Key("IdUni")
        )
        .Columns(columns =>
        {
            columns.AddFor(m => m.Unidad1).Caption("Unidad");
            columns.AddFor(m => m.IdFlt).Lookup(lookup => lookup
                .DataSource(ds => ds.WebApi().Controller("Unidad").LoadAction("FlotaLookup").Key("Value"))
                .ValueExpr("Value")
                .DisplayExpr("Text")
            ).GroupIndex(0).Caption("Flota");

            columns.AddFor(m => m.Habilitado).Width(120);
        })
        .RemoteOperations(true)
        .AllowColumnReordering(true)
        .RowAlternationEnabled(true)
        .ShowBorders(true)
        .Paging(p => p.PageSize(10))
        .Pager(p => p
            .ShowPageSizeSelector(true)
            .AllowedPageSizes(new[] { 10, 25, 50, 100 })
        )
        .SearchPanel(s => s
            .Visible(true)
            .HighlightCaseSensitive(true)
        )
        .GroupPanel(g => g.Visible(true))
        .Grouping(g => g.AutoExpandAll(false))
        .Editing(e => e.Mode(GridEditMode.Popup)
                .AllowUpdating(true)
                .AllowAdding(true)
                .UseIcons(true)
                .Popup(p => p
                    .Title("Unidad")
                    .ShowTitle(true)
                    .Width("50%")
                    .Height(300)
                )
                .Form(f => f.Items(items =>
                {
                    items.AddGroup()
                        .ColCount(2)
                        .ColSpan(2)
                        .Items(groupItems =>
                        {
                            groupItems.AddSimpleFor(m => m.IdFlt).ColSpan(2);
                            groupItems.AddSimpleFor(m => m.Unidad1).ColSpan(2);
                            groupItems.AddSimpleFor(m => m.Habilitado).Label(label => label.Location(FormLabelLocation.Left));
                        });
                }))
            )
    )

}

@using (Html.DevExtreme().NamedTemplate("TAB2"))
{
    @(Html.DevExtreme().DataGrid<TSK.Models.Entity.Unidad>()
          .ID("grid2")
          .DataSource(ds => ds.Mvc()
              .Controller("Unidad")
              .LoadAction("Get").OnLoaded("filterFalse")
              .InsertAction("Post")
              .UpdateAction("Put")
              .Key("IdUni")
          )
          .Columns(columns =>
          {
              columns.AddFor(m => m.Unidad1).Caption("Unidad").AllowEditing(false);
              columns.AddFor(m => m.IdFlt).Lookup(lookup => lookup
                  .DataSource(ds => ds.WebApi().Controller("Unidad").LoadAction("FlotaLookup").Key("Value"))
                  .ValueExpr("Value")
                  .DisplayExpr("Text")
              ).GroupIndex(0).Caption("Flota");

              columns.AddFor(m => m.Habilitado).Width(120);
          })
          .RemoteOperations(true)
          .AllowColumnReordering(true)
          .RowAlternationEnabled(true)
          .ShowBorders(true)
          .Paging(p => p.PageSize(10))
          .Pager(p => p
              .ShowPageSizeSelector(true)
              .AllowedPageSizes(new[] { 10, 25, 50, 100 })
          )
          .GroupPanel(g => g.Visible(true))
          .Grouping(g => g.AutoExpandAll(false))
          .Editing(editing =>
                                {
                                    editing.AllowUpdating(true);
                                })
      )
}


<script>
    function filterTrue() {
        var grid = $("#grid1").dxDataGrid("instance");
        grid.filter([
            ["Habilitado", "=", true]
        ]);
    }

    function filterFalse() {
        var grid = $("#grid2").dxDataGrid("instance");
        grid.filter([
            ["Habilitado", "=", false]
        ]);
    }

    function refreshGrid() {
        $("#grid1").dxDataGrid("instance").refresh();
        $("#grid2").dxDataGrid("instance").refresh();
    }

</script>