
@{
    ViewData["Title"] = "Usuario";
    Layout = "~/Views/Shared/_LayoutApp.cshtml";
}

@section PagePreTitle{

    <div class="col">
     <!-- Page pre-title -->
        <div class="page-pretitle">
            Mantenimiento
        </div>
        <h2 class="page-title">
            Usuarios
        </h2>
    </div>

}

@section PageActions{


}

@(Html.DevExtreme().DataGrid<TSK.Models.Entity.Usuario>()
    .DataSource(ds => ds.Mvc()
        .Controller("Usuario")
        .LoadAction("Get")
        .InsertAction("Post")
        .UpdateAction("Put")
        .Key("IdUsr")
    )
    .Columns(columns => {
        columns.AddFor(m => m.IdUsr).Caption("ID").Width(50);
        columns.AddFor(m => m.IdRol).Lookup(lookup => lookup
            .DataSource(ds => ds.WebApi().Controller("Usuario").LoadAction("RolsLookup").Key("Value"))
            .ValueExpr("Value")
            .DisplayExpr("Text")
        ).GroupIndex(0).Caption("Rol");
        columns.AddFor(m => m.Nombre);
        columns.AddFor(m => m.IdDis).Lookup(lookup => lookup
            .DataSource(ds => ds.WebApi().Controller("Usuario").LoadAction("DisciplinasLookup").Key("Value"))
            .ValueExpr("Value")
            .DisplayExpr("Text")
        ).Caption("Disciplina");
        columns.AddFor(m => m.Usuario1).Caption("Usuario").Width(100);
        columns.AddFor(m => m.Contrasena).Caption("Clave");
        columns.AddFor(m => m.Lider).Caption("Supervisor");
        columns.AddFor(m => m.Habilitado).Width(100); })
    .ShowBorders(true)
    .RowAlternationEnabled(false)
    .ShowColumnLines(true)
    .ShowRowLines(true)
    .Paging(paging => paging.PageSize(20))
    .FilterRow(f => f.Visible(true))
    //.HeaderFilter(f => f.Visible(true))
    .Pager(pager =>{
        pager.ShowPageSizeSelector(true);
        pager.AllowedPageSizes(new[] {20, 50, 100});
        pager.ShowInfo(true);
    })
    .AllowColumnReordering(true)
    .Grouping(grouping => grouping.AutoExpandAll(true))
    .SearchPanel(searchPanel => searchPanel.Visible(true))
    .GroupPanel(groupPanel => groupPanel
        .EmptyPanelText("Arrastre un encabezado de columna aquí para agrupar por esa columna")
        .Visible(true))
    .RemoteOperations(true)
    .Editing(e => e.Mode(GridEditMode.Popup)
            .AllowUpdating(true)
            .AllowAdding(true)
            .UseIcons(true)
            .Popup(p => p
                .Title("Usuario")
                .ShowTitle(true)
                .Width("70%")
                .Height(300)
            )
            
            .Form(f => f.Items(items => {
                items.AddGroup()
                    .ColCount(2)
                    .ColSpan(2)
                    .Items(groupItems => {
                        groupItems.AddSimpleFor(m => m.Nombre);
                        groupItems.AddSimpleFor(m => m.IdRol);
                        groupItems.AddSimpleFor(m => m.IdDis);
                        groupItems.AddSimpleFor(m => m.Usuario1);
                        groupItems.AddSimpleFor(m => m.Contrasena)
                            .Editor(e => e.TextBox().Mode(TextBoxMode.Password));
                        groupItems.AddSimpleFor(m => m.Lider);
                        groupItems.AddSimpleFor(m => m.Habilitado);
                    });
            }))
            
        )
)
